<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fakeNaviBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CDD076521CFE8ADA0055C94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD0766B1CFE8ADA0055C94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD076761CFE8ADA0055C94B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
